<% include partials/header %>

<h1>Thanks for submitting your data</h1>

<p>You're <%= data.first_name %> <%= data.last_name %></p>
<p>and your age is <%= data.age %></p>


<% include partials/footer %>
